<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>service</title>
    <link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>
    <div class="container">
        <nav class="navbar">
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/about">About</a></li>
                <li><a href="/service">Service</a></li>
                <li><a href="/contact">Contact</a></li>
            </ul>
        </nav>
    
        <h1 class="center">This is service page</h1>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Unde molestiae repellendus veniam minus aspernatur, reprehenderit aliquam sit, ea tempore harum omnis soluta dolore itaque minima, velit ex excepturi iusto repudiandae?</p>
    
    </div>

</body>
</html>